.slider__container--three {
  position: relative;
  max-width: 690px;
  max-width: 670px; //
  width: 642px; // 270+162+162+24+24
  padding: 0;
  margin: 0;
  border: 1px solid black;
  overflow: hidden;
  * > img {
    display: block;
  }
}
.slider__wrapper--three {
  border: 1px dotted green;
  position: relative;
  // max-width: 900px;
  // min-width: 900px;
  width: 1014px; //270+162+162+24+24 +162+162+24+24
  // width: 642px;
  // width: 1758px;
  left: -372px; //+162+162+24+24
  overflow: hidden;
}
.slider__list--three {
  padding: 70px 0;
  width: 1500px;
  width: 1758px; //270+162+162+24+24 +162+162+24+24 +162+162+24+24
  width: 1014px; //270+162+162+24+24 +162+162+24+24
  //width: calc(1014px + 162px + 24px + 162px + 24px);
  // width: 100%;
}
.slider__item--three {
  margin-right: 24px;
  display: inline;
}

.slider__image--three {
  width: 162px;
  height: 270px;
  object-fit: cover;
  object-position: center;
  outline: 1px solid blue;
}
.slider__item--three.slick-active > img {
  outline: 1px solid red;
  width: 270px;
  height: 270px;
  object-fit: cover;
  object-position: center;
}
// .variable-width .slick-current.slick-active {
//   width: 270px;
//   height: 270px;
//   outline: 1px solid red;
// }

.slick-prev.slick-arrow::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 17px;
  background-image: url('../images/vectorL.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-prev.slick-arrow {
  position: absolute;
  width: 30px;
  height: 20px;
  top: 90%;
  left: 45%;
  z-index: 5;
}

.slick-next.slick-arrow::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 17px;
  background-image: url('../images/vectorR.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.slick-next.slick-arrow {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 20px;
  top: 90%;
  left: 55%;
  z-index: 5;
}
