<div class="up-button">
  <a class="up-button__link" href="#home">
    <!-- <svg
      class="up-button__icon animate__animated animate__slideOutUp animate__slower animate__infinite"
      width="25"
      height="37"
    >
       <use href="../images/spritenew.svg#icon-up"></use> -->
    <!-- <use href="./images/vectorR.svg">
      </use> -->

    <svg
      class="up-button__icon animate__animated animate__shakeY animate__slower animate__delay-3s"
      width="25"
      height="37"
    >
      <!-- <use href="../images/spritenew.svg#icon-up"></use> -->
      <use href="./images/spritenew.svg#icon-up"></use>
    </svg>
  </a>
</div>
