<div class="slider__container--three--left">
  <div class="slider__wrapper--three--left wrapper">
    <ul class="slider__list--three--left variable-width">
      <li class="slider__item--three">
        <img
          class="slider__image--three"
          src="./images/images_test/portfolio-img1.jpg"
          width="370"
          alt=""
          data-lazy="img/lazyfonz1.png"
        />
      </li>
      <li class="slider__item--three">
        <img
          class="slider__image--three"
          src="./images/images_test/portfolio-img2.jpg"
          width="370"
          alt=""
          data-lazy="img/lazyfonz1.png"
        />
      </li>
      <li class="slider__item--three">
        <img
          class="slider__image--three"
          src="./images/images_test/portfolio-img3.jpg"
          width="370"
          alt=""
          data-lazy="img/lazyfonz1.png"
        />
      </li>
      <li class="slider__item--three">
        <img
          class="slider__image--three"
          src="./images/images_test/portfolio-img4.jpg"
          width="370"
          alt=""
          data-lazy="img/lazyfonz1.png"
        />
      </li>
      <li class="slider__item--three">
        <img
          class="slider__image--three"
          src="./images/images_test/portfolio-img5.jpg"
          width="370"
          alt=""
          data-lazy="img/lazyfonz1.png"
        />
      </li>
      <li class="slider__item--three">
        <img
          class="slider__image--three"
          src="./images/images_test/portfolio-img6.jpg"
          width="370"
          alt=""
          data-lazy="img/lazyfonz1.png"
        />
      </li>
      <li class="slider__item--three">
        <img
          class="slider__image--three"
          src="./images/images_test/portfolio-img7.jpg"
          width="370"
          alt=""
          data-lazy="img/lazyfonz1.png"
        />
      </li>
      <li class="slider__item--three">
        <img
          class="slider__image--three"
          --opposite
          src="./images/images_test/portfolio-img8.jpg"
          width="370"
          alt=""
          data-lazy="img/lazyfonz1.png"
        />
      </li>
      <li class="slider__item--three">
        <img
          class="slider__image--three"
          src="./images/images_test/portfolio-img9.jpg"
          width="370"
          alt=""
          data-lazy="img/lazyfonz1.png"
        />
      </li>
    </ul>
  </div>
</div>
